@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'tailwindcss';
@plugin "tailwindcss-animate";
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:is(.dark *));
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background-color: #3b82f6 !important;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-in-up {
    animation: fade-in-up 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  }
}

.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: white;
  transition: opacity 0.5s;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Disable scrolling on heatmap pages */
body:has(.heatmap-page) {
  overflow: hidden !important;
  height: 100vh !important;
}

html:has(.heatmap-page) {
  overflow: hidden !important;
  height: 100vh !important;
}
